.idea/
.vscode/

.DS_Store

env/
__pycache__/
backend/*/*/*.svg
backend/*/*/*.mp3
backend/app/backgrounds/*.png
backend/app/backgrounds/*.jpg
backend/app/backgrounds/*.jpeg


node_modules/
.cache/
dist/