[Unit]
Description=Run flask app in /backend
After=network.target

[Service]
Type=simple
User=root
Restart=always
WorkingDirectory=/backend
Environment="FLASK_ENV=production"
ExecStart=/backend/run.sh

[Install]
WantedBy=multi-user.target