@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/Yekan.eot');
    src: url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Yekan/Yekan.woff2') format('woff2'),
        url('../fonts/Yekan/Yekan.woff') format('woff'),
        url('../fonts/Yekan/Yekan.otf') format('opentype'),
        url('../fonts/Yekan/Yekan.ttf') format('truetype'),
        url('../fonts/Yekan/Yekan.svg#Yekan') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "Yekan" !important;
}